<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @statement.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @statement.author %>
</p>

<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
